/*font face for .hi to hieroglyphics apparently works better in head of html*/

body {
  font-family: Arial, sans-serif;
  background-image: url("../assets/glyphs.jpg");
  background-repeat: repeat;
  background-color: #444;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-y: scroll;
}

.main-content {
  padding: 1em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 2%;
  height: 85%;
  border-style: outset;
  border-radius: 10px;
  border-color: #bbb;
  text-align: center;
}

.title {
  display: flex;
}

.title .hi {
  font-weight: bold;
}

.line {
  display: flex;
}

.stack .hi {
  margin: 0;
  line-height: .6;
}

.bk {
  margin: 0;
}

.pipe {
  margin: 0;
}

h1 {
  font-family: Palatino, serif;
  /*font-style: italic;*/
  font-size: 3rem;
}

input {
  margin-top: 10px;
  background-color: aliceblue;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}
